Let's add some data...

<form action="/object/add" id="object-add" method="post">
  <input type="text" name="foo" style="font-size:18pt;">
  <input type="submit" value="Submit" style="font-size: 20px; padding:5px; -webkit-border-radius: 5px; border-radius: 5px;">
</form>


<a href="requirements">requirements</a> | <a href="local-env">local env</a> | <a href="deploy">deploy</a>


<h1>Hello World</h1>

<p>Our hello world app has "Google App Engine" components:</p>

<ul><li>app.yaml</li></ul>

<p>App Specific components:</p>

<ul>
  <li>pages/ jinja2 template files</li>
  <li>static/ all static files (css/js/img)</li>
  <li>python/ python scripts (acting as our backend app/web server ... include datamodels)</li>
</ul>
